html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-size: 18px !important;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0 !important;
    list-style-type: none;
    margin-bottom: 0 !important;
    padding: 0;
    margin: 0;
}

a {
    /* color: inherit !important; */
}

a:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
    text-decoration: none !important;
    outline-offset: 0px !important;
}

a:hover {
    text-decoration: none !important;
}

@font-face {
    font-family: "Arimo";
    src: url(../assets/fonts/Arimo/Arimo-Regular.ttf);
}

*,
p {
    font-family: Arimo;
}


/* Standar CSS */

.fullWidth {
    width: 100%;
}

.fiftyTwo {
    padding: 0px 5%;
}

.oneThirtyTwoLeft {
    padding: 0px 13%;
}

.oneThirtyTwoRight {
    padding-right: 14%;
}

.twentyThreeLeft {
    padding-left: 2%;
}

.eightyEighty {
    padding: 70px 0px;
}

.eightyBottom {
    padding-bottom: 60px;
}

.bottomFouty,
.contactDetails {
    padding-bottom: 40px;
}

.widthSixty {
    width: 60%;
}


/* Standar CSS (End) */


/* For Header css */

.blurHeader {
    background-image: url(../assets/images/blueImg.jpg);
    /* background-color: rgba(237, 237, 237, 0.9); */
    width: 100%;
    position: fixed;
    top: 0px;
    height: 80px;
    filter: blur(20px);
    display: none;
}

.logoContainer {
    /* width: 374px; */
    width: 43.4%;
}

.headerMenus {}

.logo img {
    transition: 0.3s;
    width: 240px;
}

.logo.logoSmall img {
    width: 150px;
}


/* .header::before {
    content: "";
    background-image: url(../assets/images/bg-clouds.png);
} */

.header.fixed {
    background-color: rgba(237, 237, 237, 0.9);
    position: fixed;
    margin-top: 0px;
    top: 0;
    padding: 17px 5%;
}

.header.fixed .pageLinks {
    /* padding-left: 23%; */
}

.header {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* justify-content: space-between; */
    padding: 23px 5%;
    /* margin-top: 220px; */
    margin-top: 50px;
    display: flex;
    z-index: 20;
    width: 100%;
}

.flex {
    display: flex;
}

.flexOne {
    flex: 1;
}

.itemCenter {
    align-items: center;
}

.pageLinks {
    /* padding-left: 10%; */
    flex: 1;
    justify-content: space-between;
}

.pageLinks li a {
    text-transform: uppercase;
    /* font-family: Arimo; */
    text-decoration: none;
    position: relative;
    /* margin-right: 40px; */
    color: #1c1c1c;
    font-size: 12px;
    font-weight: bold;
}

.navLinks:hover {
    /* color: #057158; */
}

.pageLinks li a::after {
    background-color: #057158;
    transition: 0.3s;
    margin: 0 auto;
    display: block;
    content: "";
    height: 2px;
    bottom: 0;
    width: 0px;
}

.pageLinks li a.active::after,
.navLinks:hover::after {
    width: 100%;
}

.menuLinks {
    align-items: center;
    display: flex;
    line-height: initial;
}


/* Header css end here */


/* For Landing image */

.landing {
    background-image: url(../assets/images/landing.png);
    /* height: -webkit-fill-available; */
    height: 680px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: -99;
}

.land1 {
    top: calc(0px - 10px);
    left: calc(0px + 2%);
}

.land2 {
    bottom: calc(0px - 18%);
    left: calc(0px + 2%);
}

.land3 {
    left: calc(0px + 29%);
}

.land4 {
    bottom: 0;
    left: calc(0px + 30%);
}

.land5 {
    top: calc(0px + 2%);
    right: calc(0px + 19%)
}

.land6 {
    top: calc(0px + 12%);
    right: calc(0px + 2%);
}

.land7 {
    top: calc(0px + 33%);
    right: calc(0px + 12%);
}

.land8 {
    right: calc(0px + 4%);
    top: calc(100% - 14%);
}

.why1 {
    top: calc(0px + 7%);
    left: calc(0px + 9.5%);
}

.why2 {
    top: calc(0px + 15%);
    left: calc(0px + 11%);
}

.why3 {
    top: calc(0px + 31%);
    left: calc(0px + 21%);
}

.why4 {
    top: calc(0px + 40%);
    left: calc(0px + 38%);
}

.why5 {
    top: calc(0px + 47%);
    left: calc(0px + 5%);
}

.why6 {
    top: calc(0px + 58%);
    left: calc(0px + 30%);
}

.why7 {
    top: calc(0px + 72%);
    left: calc(0px + 15%);
}

.why8 {
    bottom: calc(0px + 2%);
    left: calc(0px + 33.5%);
}

.why9 {
    top: calc(0px + 19%);
    right: calc(0px + 8%);
}

.why10 {
    top: calc(0px + 51%);
    right: calc(0px + 3%);
}

.why11 {
    left: 6%;
}

.approach1 {
    top: calc(0px + 13%);
    right: calc(0px + 9%);
}

.approach2 {
    top: calc(0px + 15%);
    right: calc(0px + 36%);
}

.approach3 {
    top: calc(0px + 47%);
    left: calc(0px + 11%);
}

.approach4 {
    top: calc(0px + 40%);
    right: calc(0px + 20%);
}

.approach5 {
    top: calc(0px + 61%);
    left: calc(0px + 37%);
}

.approach6 {
    bottom: 16%;
    right: 5%;
}

.approach7 {
    bottom: 2%;
    left: 14%;
}

.approach8 {
    bottom: 25%;
    right: 30%;
}

.approach9 {
    bottom: 8%;
    right: 28%;
}

.team1 {
    top: calc(0px + 13%);
    left: calc(0px + 11%);
}

.team2 {
    top: calc(0px + 9%);
    right: calc(0px + 11%);
}

.team3 {
    top: calc(0px + 22%);
    left: calc(0px + 36%);
}

.team4 {
    top: calc(0px + 33%);
    left: calc(0px + 15%);
}

.team5 {
    top: calc(0px + 45%);
    left: calc(0px + 31%);
}

.team6 {
    top: calc(0px + 56%);
    left: calc(0px + 7%);
}

.team7 {
    top: calc(0px + 56%);
    left: calc(0px + 36%);
}

.team8 {
    bottom: calc(0px + 18%);
    left: calc(0px + 27%);
}

.team9 {
    bottom: calc(0px + 9%);
    left: calc(0px + 5%);
}

.team10 {
    top: calc(0px + 38%);
    right: calc(0px + 3%);
}

.contact1 {
    top: calc(0px + 6%);
    left: calc(0px + 47%);
}

.contact2 {
    top: calc(0px + 21%);
    right: calc(0px + 9.6%);
}

.contact3 {
    bottom: calc(0px + 8%);
    left: calc(0px + 44%);
}

.land4,
.land5,
.land6,
.land7,
.land8,
.approach1,
.approach2,
.approach3,
.approach4,
.approach5,
.team1,
.team2,
.team3,
.team4,
.team5,
.team6,
.team7,
.team8,
.team9,
.team10,
.contact1,
.contact2,
.contact3,
.approach6,
.approach7,
.approach8,
.approach9,
.contact5,
.contact6 {
    z-index: 99;
}

.bannerImgContent {
    padding-top: 65px;
}

.bannerPara p {
    font-family: PublicoBanner-Roman;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    /* line-height: 1.42;
    letter-spacing: 0; */
    color: #ededed;
    font-size: 32px;
}

.bannerPara {
    width: 77%;
}

.bannerTiny img {
    width: 100%;
    height: 100%;
}

.transImg {
    display: none;
}

.transImg {
    position: absolute;
    /* top: 0; */
    width: 100%;
    z-index: 11;
}

.transImg img {
    width: 102%;
}

.bannerTiny {
    top: 0;
    height: 100%;
    padding: 0px 3%;
}

.moreVisible {
    position: relative;
    z-index: 999;
}

.bottom0 {
    bottom: calc(0px - 2px);
    z-index: 10;
    display: block;
}

.bottom0 img {
    /* width: 100%; */
}


/* For Landing image (End) */


/* For why now Section */

.paraRightPadding p {
    /* padding-right: 19%; */
}

.approachParaImg {
    margin-left: auto;
    position: relative;
    padding-left: 2%;
}

.sectionOne .oneThirtyTwoRight .whyNowText div:last-child {
    padding-bottom: 0;
}


/* .whyNowImg img {
    padding-right: 3%;
    display: none;
}

.whyNowImg {
    padding: 180px 0px;
} */

.fontTwentyFour h1,
.fontTwentyFour h2,
.timeLineCol h2,
.teamDes h5,
.contactDetails h6,
.careerInternal .fontTwentyFour h1 {
    font-family: PublicoBanner-Roman;
    font-size: 26px;
    line-height: 1.42;
    color: #353535;
    padding-bottom: 10px;
}

.fontTwentyFour h1 {
    font-size: 32px;
}

.bottomTwenty h1 {
    padding-bottom: 20px;
}

.noPadding h1 {
    padding-bottom: 0;
}

.botomTwentyPara p {
    padding-bottom: 20px;
}

.botomTwentyPara p:last-child {
    padding-bottom: 0;
}

.offWhite * {
    color: #ededed !important;
}

.whyNowFirstImg {
    padding: 0px 13% 0px 4%;
    height: 900px;
}

.whyNowSecondImg {
    padding: 0px 5% 0 13%;
    bottom: 0;
    height: 800px;
}

#whyNow .oneThirtyTwoRight,
.approachBack,
.ourTeamMain {
    position: relative;
}


/* For why now Section (End) */


/*For  Approach section */

.topLayer img,
.bottomLayer img {
    width: 100%;
}

.topBottom {
    position: absolute;
    width: 100%;
}

.topLayer {
    top: calc(0px - 1px);
}

.bottomLayer {
    bottom: calc(0px - 2px);
}

.approachImgCont .offWhite h2 {
    font-weight: 500;
}

.approachIcon {
    padding-bottom: 10px;
}

.approachImgCont h1 {
    padding-bottom: 0;
}

.approachImgCont .widthSixty p {
    /* font-size: 18px;
    line-height: 1.77; */
}

.approachBack {
    /* padding-right: 0;
    background-color: #057158;
    position: relative; */
    background-image: url(../assets/images/approachImg.png);
    /* height: -webkit-fill-available; */
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.approachImgCont {
    /* position: absolute;
    left: 13%;
    top: 13%; */
}

.whyNowPeo {
    /* position: absolute;
    right: 4%;
    top: 144px; */
    position: absolute;
    right: 6%;
    bottom: 88px;
    display: none;
}

.whyNowPeo img {
    /* width: 100%; */
}

.approachImgCont {
    padding: 100px 13%;
}

.approachImgCont {
    padding-bottom: 150px;
}


/*For  Approach section (End)*/


/* For timeline Section */

.sixtySixPer {
    width: 66%;
}

.timeLineCont {
    padding-top: 126px;
}

.timeLineBor {
    border-bottom: 11px solid #057158;
    align-items: flex-end;
}

.timeLineCol {
    width: 24%;
    border-left: 2px solid #353535;
    padding-left: 0.9%;
    padding-bottom: 40px;
}

.timeLineCol h2 {
    /* font-family: PublicoBanner-Roman;
    font-size: 26px;
    color: #353535; */
    padding-bottom: 10px;
}

.timeLineCol p,
.teamDes p,
.contactDetails p,
#timeline .fiftyTwo p,
.whyNowText .bottomFouty p,
.approachImgCont .widthSixty p,
.careerInternal p {
    font-size: 18px;
    line-height: 1.77;
    color: #353535;
}

.time2 {
    margin: 0 auto;
    margin-left: 25.5%;
}

.timeLineBottom1,
.timeLineBottom2 {
    height: fit-content;
    padding-bottom: 0;
}

.timeLineBottom1 {
    margin-left: 21%;
    padding-right: 4%;
}

.timeLineBottom2 {
    margin-left: 17%;
}

.timeLineBottom {
    padding-top: 40px;
}


/* For timeline Section (End)*/


/* For our team section */

.ourTeamMain {
    /* background-color: #ededed; */
    background-image: url(../assets/images/ourTeamBack.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.ourTeamInternal {}

.ourTeamInternal {
    width: 56%;
    margin-left: auto;
    /* padding-right: 11%;
    padding-bottom: 80px; */
    padding: 40px 11% 100px 0%;
}

.teamDes p {
    padding: 10px 0px 40px 0px;
}

.ourTeamInternal .teamDes:last-child p {
    padding-bottom: 0;
}

.teamDes h5,
.contactDetails h6,
.careerInternal .fontTwentyFour h1 {
    /* padding: 20px 0px 10px 0px; */
    /* padding-bottom: 10px; */
    line-height: unset;
    /* font-family: PublicoBanner-Roman;
    font-size: 26px;
    color: #353535; */
    padding: 10px 0px;
}

.teamDes h6 {
    /* font-family: Arimo; */
    font-size: 18px;
    font-weight: bold;
    color: #057158;
}

.careerInternal {
    /* padding: 0px 13%; */
    width: 86%;
}

.careerInternal p {
    /* font-family: PublicoBanner-Roman;
    font-size: 16px;
    line-height: 1.62;
    color: #353535; */
}


/* For our team section (End)*/


/* For our Career section*/

.mailTO {
    position: relative;
    color: #057158;
    /* border-bottom: 1px solid; */
}

.mailTO::after {
    content: "";
    position: absolute;
    background-color: #057158;
    height: 1px;
    left: 0;
    bottom: 0;
    width: calc(100% - 6px);
}


/* For our Career section (End)*/


/* For Contact section*/

.contactCutLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.contactCutLayer img {
    height: 100%;
    width: 100%;
}

.contactDetails:last-child {
    padding-bottom: 0;
}

.contactDetails h6 {
    /* padding-top: 0;
    padding-bottom: 20px; */
    padding-bottom: 10px;
    padding-top: 0;
}

.contactDetails p {}

.socialLinks {
    color: #353535;
    border-bottom: 1px solid;
}

.footer {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #1c1c1c;
    color: #a5a5a5;
    padding: 18px 4%;
}

.spaceBetween {
    justify-content: space-between;
}

.copyRight p,
.footerSocial li a {
    font-family: Arimo;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: right;
}

.copyRight p {
    font-family: PublicoBanner-Roman;
}

.footerSocial li a {
    border: none;
    color: #a5a5a5;
    margin-right: 43%;
}

.footerSocial li:last-child a {
    margin-right: 0;
}

.contactBack {
    /* background-image: url(../assets/images/contectGreen.png); */
    background-position: 100% 100%;
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 50%;
    position: relative;
}

.contactInternal {
    /* background-color: #057158; */
    padding: 170px 9%;
    position: absolute;
    top: 0;
    width: 100%;
}

.contactInternal .fontTwentyFour h1,
.contactDetails * {
    color: #ffffff !important;
}

.contactInternal {}

.contactInternal {}

.careerCol {
    width: 50%;
    padding: 292px 0% 0px 2%;
}

.widthFiftyPer {
    /* width: 50%; */
}

.careerInternal .noPadding h1 {
    line-height: initial;
    padding-top: 0;
}


/* For Contact section (End)*/

.backTop {
    transition: 0.5s;
    position: fixed;
    bottom: 40px;
    right: 14px;
    cursor: pointer;
    transform: scale(0);
    z-index: 99999;
}

.backTop.showBackTop {
    transform: scale(1);
}


/* For Mobile Responsiveness */


/* 
@media(max-width: 962px) {
    .header {
        margin-top: 132px;
    }
} */

@media(max-width: 754px) {
    .pageLinks {
        /* padding-left: 2%; */
    }
    .header {
        padding: 23px 2%;
    }
}

@media(min-width: 768px) {
    .backTop {
        transform: scale(0)
    }
}

.deskBottomLayer {
    display: block;
}

.mobBottomLayer,
.why11,
.approach10 {
    display: none;
}

@media(max-width: 768px) {
    .team3 {
        top: 10%;
        display: flex;
        right: 10%;
        justify-content: flex-end;
    }
    .land1 img {
        width: 23px
    }
    .land3 img {
        width: 64px;
    }
    .land6 img {
        width: 72px;
    }
    .land5 img {
        width: 65px;
    }
    .why11 {
        z-index: 99;
        top: 96%;
        left: 16%;
    }
    .contact5 {
        top: 25%;
        left: 4%;
    }
    .contact6 {
        top: 38%;
        right: 6%;
    }
    .land1 {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        top: 18%;
    }
    .land3 {
        display: flex;
        height: -webkit-fill-available;
        align-items: flex-end;
        left: 0%;
        top: 74%;
    }
    .land6 {
        bottom: 30%;
        display: flex;
        align-items: flex-end;
        right: 14%;
    }
    .land5 {
        height: 100%;
        display: flex;
        align-items: flex-end;
        top: 37%;
    }
    .approach10 {
        right: 3%;
        bottom: -8%;
        z-index: 99;
    }
    .why9 {
        top: calc(0px + 46%);
        right: calc(0px + 5%);
    }
    .team1 {
        right: 25%;
        display: flex;
        justify-content: flex-end;
        top: 1.2%;
    }
    .team2 {
        left: 18%;
        top: -5.5%;
    }
    .team9 {
        top: 40%;
        height: max-content;
        right: 22%;
        display: flex;
        justify-content: flex-end;
    }
    .team10 {
        top: 46%;
        right: 16%;
    }
    .contact1 {
        top: calc(0px + 1%);
    }
    .contact2 {
        left: 11%;
        top: calc(0px + 60%);
    }
    .contact3 {
        bottom: 26%;
        right: 7%;
        display: flex;
        justify-content: flex-end;
    }
    .land2,
    .land8,
    .land4,
    .why1,
    .why3,
    .why4,
    .why5,
    .why6,
    .why7,
    .why8,
    .why10,
    .why2,
    .land7,
    #ourApproach .absolute,
    .team4,
    .team5,
    .team6,
    .team7,
    .team8 {
        display: none;
    }
    #whyNow {
        padding-top: 100px;
    }
    .header.fixed {
        background-color: unset;
        position: unset;
        padding: 0;
        top: 0;
        margin-top: unset;
    }
    .deskBottomLayer {
        display: none;
    }
    .landing {
        /* background-image: url(../assets/images/landingSectionMobile.png); */
        height: auto;
        /* filter: grayscale(100%); */
    }
    .mobBottomLayer,
    .why11,
    .approach10 {
        display: block !important;
    }
    .eightyEighty {
        padding-top: 0;
    }
    .bottomLayer {
        bottom: calc(0px - 2px);
    }
    /* .approachImgCont,
    #ourTeam .ourTeamInternal {
        padding-top: 50px;
    } */
    .contactBack {
        /* background-image: url(../assets/images/mobContectGreen.png); */
        text-align: center;
        height: 610px;
        display: flex;
        align-items: center;
    }
    #contactUs {
        margin-top: -40px;
    }
}

@media(max-width: 768px) {
    .contactInternal {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .landing {
        height: 480px;
    }
    .bannerPara p {
        font-size: 18px;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
    .headerMenus {
        padding-top: 20px;
    }
    .header {
        flex-direction: column;
        padding: 0;
        margin-top: 40px;
    }
    .bannerPara,
    .pageLinks li a {
        padding: 0;
        margin: 0;
    }
    .bannerPara {
        width: 100%;
        padding-right: 7%;
    }
    /* .pageLinks {
        flex-direction: column;
        column-count: 2;
        column-fill: auto;
        display: block;
        padding-left: 0;
    } */
    .logo img,
    .logo.logoSmall img {
        width: 128px;
        height: 60px;
    }
    .bannerImgContent {
        padding: 40px 30px;
        display: flex;
        height: 100%;
        align-items: center;
    }
    .menuLinks {
        padding-bottom: 10px;
    }
}

@media(max-width: 768px) {
    .bottomFouty,
    .contactDetails {
        padding-bottom: 30px;
    }
    .fontTwentyFour h1,
    .fontTwentyFour h2,
    .timeLineCol h2,
    .teamDes h5,
    .contactDetails h6,
    .careerInternal .fontTwentyFour h1,
    .bannerPara p,
    .copyRight p {
        font-family: -webkit-body;
    }
    .hiringPara {
        display: block;
        padding-top: 10px;
    }
    .teamDes p {
        padding: 10px 0px 40px 0px;
    }
    .teamDes h5,
    .contactDetails h6 {
        padding: 5px 0px;
    }
    .pageLinks {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        column-count: 2;
        column-fill: auto;
        /* display: block; */
        padding-left: 0;
    }
    .menuLinks {
        width: 50%;
    }
    .whyNowImg {
        display: none;
    }
    .approachImgCont,
    .contactInternal,
    .careerCol {
        padding: 30px 30px;
    }
    .sectionOne .oneThirtyTwoRight,
    .sectionThree .sixtySixPer,
    .timeLineBottom,
    .approachImgCont,
    .timeLineCont,
    .ourTeamInternal {
        padding: 30px 30px;
    }
    .timeLineCont {
        padding: 0;
        margin: 0px 30px;
    }
    .whyNowText .eightyBottom,
    .ourTeamInternal .eightyBottom,
    .contactInternal .eightyBottom,
    .careerInternal .fontTwentyFour {
        padding-bottom: 30px;
    }
    .approachImgCont,
    #ourTeam .ourTeamInternal {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .whyNowText :last-child {
        padding-bottom: 0;
    }
    .sectionThree .sixtySixPer,
    .timeLineCol,
    .ourTeamInternal,
    .careerInternal,
    .contactInternal,
    .careerCol,
    .contactBack {
        width: 100%;
    }
    .timeLineCol p,
    .teamDes p,
    .contactDetails p,
    #timeline .fiftyTwo p,
    .whyNowText .bottomFouty p,
    .approachImgCont .widthSixty p,
    .careerInternal p {
        font-size: 12px;
    }
    .fontTwentyFour h1,
    .fontTwentyFour h2,
    .timeLineCol h2,
    .teamDes h5,
    .contactDetails h6,
    .careerInternal .fontTwentyFour h1,
    .approachImgCont .widthSixty .offWhite h2,
    .timeLineCol h2 {
        font-size: 18px;
    }
    .timeLineCont {
        margin-top: 40px;
        /* padding: 0; */
        border-left: 11px solid #057158;
    }
    .timeLineBor,
    .bottomTimeLine,
    .contactSection {
        border: none;
        flex-direction: column;
    }
    .timeLineBor {
        padding-top: 12px !important;
    }
    .time2,
    .timeLineBottom1,
    .bottomTimeLine .timeLineBottom2,
    .approachParaImg,
    .approachImgCont .widthSixty {
        width: 100%;
        margin-left: 0;
    }
    .timeLineCol {
        border-top: 1px solid;
        border-left: 0;
        padding: 10px 10px 40px 10px;
    }
    .timeLineCol h2 {
        /* font-size: 18px; */
        /* padding-top: 10px; */
    }
    .timeLineCont .timeLineBor,
    .bottomTimeLine,
    .careerInternal,
    .paraRightPadding p,
    .careerInternal .fontTwentyFour h1 {
        padding: 0;
    }
    .teamDes h6 {
        font-size: 13px;
    }
    .approachImgCont .eightyBottom h1,
    .fontTwentyFour h1 {
        font-size: 24px;
    }
    .approachImgCont .eightyBottom h1 {
        text-align: center;
    }
    .whyNowPeo {
        display: none;
    }
    .approachImgCont .eightyBottom,
    .approachParaImg {
        padding-bottom: 40px;
        padding-left: 0;
    }
    .approachIcon img {
        width: 32px;
    }
    /* .approachImgCont .widthSixty .offWhite h2 {
        font-size: 18px;
    } */
    .approachImgCont .widthSixty .offWhite h2,
    .approachIcon {
        padding-bottom: 10px;
    }
}

@media(max-width:500px) {
    .footer {
        flex-direction: column;
    }
    .footerSocial {
        padding-top: 20px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .footerSocial li {
        text-align: center;
        padding-bottom: 20px;
    }
    .footerSocial li a {
        margin-right: 0;
    }
    .copyRight {
        text-align: center;
        padding-bottom: 10px;
    }
    /* .footerPages {
        display: flex;
        justify-content: space-between;
    } */
}


/* For Mobile Responsiveness (End)*/